*{
    font-family: optima;
    font-style: italic;
    box-sizing: border-box;
}
input[type=range]{ 
    -webkit-appearance: none; 
    
}

h1 span, p span{
    display: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #666;
    color: #ddd;
    font-size: 24px;
}
.header-inner{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.header-inner ul{
    
    display: flex;
    justify-content: flex-end;
}
.header-inner ul li{
    padding: 12px;
    cursor: pointer;
}
.container{
    position: absolute;
    width: 100%;
    z-index: 10;

}
.contents{
    padding: 24px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 40vh;
    height: 100vh;
}
.text-area{
    width: 100%;
}

.home{
    margin-bottom: 24px;
}

.text-area h1{
    font-size: 120px;
    margin-bottom: 32px;
    color: #666;
    font-style: italic;
}
.text-area p#js-paragraph{
    font-size: 24px;
    color: #999;
    margin-bottom: 48px;
}
.text-area p.js-myText{
    font-size: 18px;
    color: #333;
}
.input-area{
    width: 40%;
    color: #666;
}
.ta-c{
    text-align: center;
}
canvas{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.file-input{
    /* display: none; */
}

.audio-controller{
    padding: 8px  ;
    /* border: 1px solid  #999; */
    display: flex;
    align-items: center;
    border-radius: 36px;
    font-size: 16px;
    color: #666;
}
.audio-controller > div:nth-child(1){
    /* width: 60%; */
    margin-right: 24px;
    display: flex;
    align-items: center;
}
.audio-controller > div:nth-child(2){
    /* width: 40%; */
    display: flex;
    align-items: center;
}
.audio-controller i{

}
.audio-controller .pause{
    display: none;
}
.audio-controller .track-name{
    font-size: 16px;
    padding-left: 8px;
}

.volumeController{
     -webkit-appearance: none;
     background: none;
    color: #000;
    cursor: pointer;
    height: 3px;
    width: 70%;
    border-radius: 2px;
    margin: 0 auto;
    outline: none;
    background: #999;
     /* border-radius: 10px; */
}

.volumeController::-webkit-slider-thumb{
    background: rgb(255, 139, 139);
}

input[type="file"] {
  opacity: 0;
  cursor: pointer;
  /* visibility: hidden; */
  position: absolute;
  z-index: 2;
}


label {
    display: inline;
  /* border-radius: 25px; */
  padding: 8px 16px;
  margin: 0 0 10px;
  background: #aaa;
  color: #fff;
  cursor: pointer;
}

label i {
    font-size: 16px;
    color: #fff;
}

.fileInput-wrapper{
    transition: .3s;
    margin-top: 32px;
}

.file-input-label {
    margin-bottom: 20px;
}

.inVisible{
    opacity: 0;
    /* display: none; */
}

.visible{
    opacity: 1;
    /* display: inline-block; */
}