*{
    font-family: optima;
    font-style: italic;
    box-sizing: border-box;
}

h1 span, p span{
    display: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #666;
    color: #ddd;
    font-size: 24px;
}
.header-inner{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.header-inner ul{
    
    display: flex;
    justify-content: flex-end;
}
.header-inner ul li{
    padding: 12px;
    cursor: pointer;
}
.container{
    position: absolute;
    width: 100%;
    z-index: 10;

}
.contents{
    position: relative;
    padding: 24px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 40vh;
    height: 100vh;
}
.text-area{
    width: 100%;
}

.home{
    margin-bottom: 24px;
}

.text-area h1{
    font-size: 120px;
    margin-bottom: 32px;
    color: #666;
    font-style: italic;
}
.text-area p#js-paragraph{
    font-size: 24px;
    color: #999;
    margin-bottom: 48px;
}
.text-area p.js-myText{
    font-size: 18px;
    color: #333;
}
.input-area{
    width: 40%;
    color: #666;
}
.ta-c{
    text-align: center;
}
canvas{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.file-input{
    /* display: none; */
}

.audio-controller{
    padding: 8px  ;
    /* border: 1px solid  #999; */
    display: flex;
    align-items: center;
    border-radius: 36px;
    font-size: 16px;
    color: #666;
}
.audio-controller > div:nth-child(1){
    /* width: 60%; */
    margin-right: 24px;
    display: flex;
    align-items: center;
}
.audio-controller > div:nth-child(2){
    /* width: 40%; */
    display: flex;
    align-items: center;
}
.audio-controller i{

}
.audio-controller .pause{
    display: none;
}
.audio-controller .track-name{
    font-size: 16px;
    padding-left: 8px;
}



input[type="file"] {
  opacity: 0;
  cursor: pointer;
  /* visibility: hidden; */
  position: absolute;
  z-index: 2;
}


label {
    display: inline;
  /* border-radius: 25px; */
  padding: 8px 16px;
  margin: 0 0 10px;
  background: #aaa;
  color: #fff;
  cursor: pointer;
}

label i {
    font-size: 16px;
    color: #fff;
}

.fileInput-wrapper{
    transition: .3s;
    margin-top: 32px;
}

.file-input-label {
    margin-bottom: 20px;
}

*{
    font-family: optima;
    font-style: italic;
    box-sizing: border-box;
}

.audio-controlle-panel{
  position: absolute;

  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px #ccc;
}
.audio-controlle-panel i {
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}
.audio-controlle-panel i.la-play{
  margin: 0 8px;
}

.audio-controlle-panel i.la-fast-backward,
.audio-controlle-panel i.la-forward{
  font-size: 20px;
}


.playbtn-area{
  display: flex;
  align-items: center;
}

.playbtn-area p{
  margin-left: 16px;
  color: #999;
}

.volume-area{
  padding: 16px;
  display: flex;
  align-items: center;
}

.effect-area{
  display: flex;
  align-items: center;
}

.effect-area .slider-wrapper{
  display: flex;
  flex-direction: column;
}

.input-wrapper{
    height: 64px;
    margin: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 8px; */
}

.input-wrapper span{
    position: absolute;
    top: 0px;
    font-weight: bold;
    color: #bbb;
    font-size: 12px;
    color: #bbb;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  margin: 0 8px;
  height: 3px; /* Specified height */
  background: #eee; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  /* transform: rotate(-90deg); */
}

.slider.thumb-dot::-webkit-slider-thumb{
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  border-radius: 50%;
}

.slider.vertical{
    width: 24px;
    transform: rotate(-90deg);
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 8px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff; /* Green background */
  /* border-radius: 50%; */
  border: 2px solid #aaa;
  border-radius: 2px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 12px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff; /* Green background */
  /* border-radius: 50%; */
  border: 2px solid #aaa;
  cursor: pointer; /* Cursor on hover */
}

.volume-input{
    width: 30%;
}

i.invisible::before{
  display: none;
}



.inVisible{
    opacity: 0;
    /* display: none; */
}

.visible{
    opacity: 1;
    /* display: inline-block; */
}